/* footer styling */
.footer {
  background-color: #f0f0f0;
  padding: 10px 20px;
  text-align: left; /* Change to center if you prefer */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #999;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-left: 10px;
}

.social-icons a {
  color: inherit;
}

.social-icons a:hover {
  color: #000;
}
@media (max-width: 768px) {
  /* Adjust breakpoint as needed */
  .footer-container {
    justify-content: center;
  }
}
.h2-center {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}
.margin-20px {
  margin: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.responsive-video {
  width: 80%; /* Default width */
  max-width: 800px; /* Maximum width */
  border: 1px solid #fff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .responsive-video {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .responsive-video {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .responsive-video {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .responsive-video {
    width: 100%;
  }
}
.testim-container {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .testim-container {
    width: auto;
  }
}
.txt-line {
  text-decoration: line-through;
  color: red;
}
.bold-txt {
  font-weight: bold;
}
